<body class="fondo">
 

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="jumbotron">
    <div class="container">
      <span class=""></span>
      <h2>EUREKA</h2>
      <div class="box">
        <h3>Email</h3>
        <%= f.email_field :email, autofocus: true %>
        <h3>Password</h3>
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />

        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.submit "Sign up", class:'btn btn-default full-width' %>

        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>




</body>