<body class="fondo">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


<div class="jumbotron">
  <div class="container">
    <span class="glyphicon glyphicon-fire"></span>
    <h2>EUREKA</h2>
    <div class="box">
      <h3>Email</h3>
      <%= f.email_field :email, autofocus: true %>
      <h3>Password</h3>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.submit "Log in", class: 'btn btn-default full-width' %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<% end %>



</body>


