<body class="fondo">
  

<div class="container">
  <div class="row">
    <h2>Galería de Imagenes</h2>
    
    <% if current_usuario == Usuario.find(1) %>
    <%= link_to "<i class='fa fa-plus fa-3x'></i>".html_safe, new_galeria_path %>
    <% end %>
    </p>
    <hr>
    <section id="pinBoot">
      <% @galerias.each do |galeria| %>

      <article class="white-panel"><%= image_tag galeria.avatar.url(), class:'img1' %>
        <h4><%= galeria.titulo %></h4>
        <p><%= galeria.descripcion %></p>
        <td><%= link_to "<i class='fa fa-file-image-o fa-3x social1'></i>".html_safe, galeria %></td>
        
      </article>

     
     <% end %>
    </section>


    <hr>


  </div>
 
</div>
</body>

