<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <% if usuario_signed_in? %>
    
    

<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	 <a class="navbar-brand" href="#">
        <%= image_tag("logoeurek.png") %>
       
      </a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			
			<li class="barra1"><h4><%=link_to "Inicio", root_path%></h4></li>
			
			<li class="barra1"><h4><%= link_to "Galería", galerias_path  %></h4></li>
			
			<li class="barra1"><h4><%=link_to "Quienes Somos", bienvenido_quienessomos_path%></h4></li>
			

		</ul>
	
		<ul class="nav navbar-nav navbar-right">
			
      
			<li><%= link_to "<i class='fa fa-user-times fa-2x'></i>".html_safe, destroy_usuario_session_path, :method => :delete, class: 'active' %></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
    
    <% end %>
    
	    <style>
	    
	    	.barra1{
	    		padding: 2px 7px;
	    	}
	    	
	    </style>
    
    

<div class="container">
    <div class="row">
        

<%= yield %>

        
    </div>
</div>
</body>
</html>


